{% extends 'skeleton.jinja2' %}

{% block content %}
<div id="header">Welcome to the synchronisierungstool</div>
<ul id="song-select" class="demo-list-two mdl-list">
        <li class="mdl-list__item mdl-list__item--two-line">
            <span class="mdl-list__item-primary-content"><!-- das sind meine parents !-->
                <i class="material-icons mdl-list__item-avatar">arrow_drop_down</i>
                  <span>21 Guns</span>
                    <span class="mdl-list__item-sub-title">
                        Noch keine Aufnahme
                    </span>
                    <div class="record-controls" style="display: none">
                        <button id="recordButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Aufnehmen</button>
                        <button id="syncedRecordButton" disabled class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">Aufnehmen mit Playback</button>
                        <button id="pauseButton" disabled class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Pause</button>
                        <button id="stopButton" disabled class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Stop</button>
                    </div>
                </span>
                <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">close</i></a>
        </li>
        <li class="mdl-list__item mdl-list__item--two-line">
            <span class="mdl-list__item-primary-content">
                  <i class="material-icons mdl-list__item-avatar">arrow_drop_down</i>
                  <span>2x</span>
                    <span class="mdl-list__item-sub-title">
                        Noch keine Aufnahme
                    </span>
                     <div class="record-controls" style="display: none">
                         <button id="recordButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Aufnehmen</button>
                        <button id="syncedRecordButton" disabled class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">Aufnehmen mit Playback</button>
                        <button id="pauseButton" disabled class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Pause</button>
                        <button id="stopButton" disabled class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Stop</button>
                    </div>
            </span>
                <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">close</i></a>
        </li>
        <li class="mdl-list__item mdl-list__item--two-line">
                <span class="mdl-list__item-primary-content">
                  <i class="material-icons mdl-list__item-avatar">arrow_drop_down</i>
                  <span>Happy Together</span>
                    <span class="mdl-list__item-sub-title">
                        Noch keine Aufnahme
                    </span>
                     <div class="record-controls" style="display: none">
                        <button id="recordButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Aufnehmen</button>
                        <button id="syncedRecordButton" disabled class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">Aufnehmen mit Playback</button>
                        <button id="pauseButton" disabled class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Pause</button>
                        <button id="stopButton" disabled class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Stop</button>
                    </div>
                </span>
                <span class="mdl-list__item-secondary-content">
                  <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">close</i></a>
              </span>
        </li>
</ul>
<audio preload="auto" id="sync_audio">
    <source src="static/sample_sync_21guns.ogg" type="audio/ogg">
    Bei dir funktioniert dass leider nicht. Firefox herunterladen?
</audio>
<!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
<script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
<script src="/static/app.js"></script>
{% endblock %}
