{% extends 'skeleton.jinja2' %}

{% block js %}

{% endblock %}

{% block content %}
<h3>Musikstücke für Probe am {{ rehearsal.end_date.strftime('%d.%m.%Y') }}</h3>
<div id="song-select" class="mdl-grid">

{% for sr in rehearsal.rehearsal_songs %}

    <div class="entry-container" data-id="{{ sr.song.sid }}">
            <div class="mdl-cell mdl-cell--1-col" data-id="{{ sr.song.sid }}">
                <i class="material-icons mdl-list__item-avatar show-song-arrow" data-id="{{ sr.song.sid }}">arrow_right</i>
            </div>
            <div class="mdl-cell mdl-cell--10-col" data-id="{{ sr.song.sid }}">
                      <span>{{ sr.song.name }}</span>
                        <!-- <span class="mdl-list__item-sub-title record-info" data-id="{{ sr.song.sid }}">
                            Noch keine Aufnahme
                        </span>
                        -->
                        <div class="record-controls" style="display: none" data-id="{{ sr.song.sid }}">
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored recordButton" data-id="{{ sr.song.sid }}">Aufnehmen</button>
                            <button disabled class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent syncedRecordButton" data-id="{{ sr.song.sid }}">Playback wird geladen...</button>
                            <button disabled class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent playbackPlayButton" data-id="{{ sr.song.sid }}">Playback wird geladen...</button>
                            <button disabled class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored material-icons pauseButton" data-id="{{ sr.song.sid }}">pause</button>
                            <button disabled class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored material-icons stopButton" data-id="{{ sr.song.sid }}">stop</button>
                            <audio preload="auto" class="sync_audio"  data-id="{{ sr.song.sid }}">
                                <source type="audio/ogg">
                                Bei dir funktioniert das leider nicht. Firefox herunterladen?
                            </audio>

                            <form method="POST" data-id="{{ sr.song.sid }}" class="song-upload-form">
                                <input type="hidden" value="{{ sr.song.sid }}" name="song_id">
                                <input type="hidden" value="{{ sr.rehearsal.rid }}" name="rehearsal_id">
                                <input type="hidden" value="{{ csrf_token() }}" name="csrf_token">

                                <label for="stimmgruppe" class="label">Stimmgruppe</label> <!-- todo label -->
                                <select name="choir_section">
                                    {% for cs in sr.song.choir_sections %}
                                        <option value="{{ cs.choir_section.csid }}">{{ cs.choir_section.name }}</option>
                                    {% endfor %}
                                </select>

                                <!--<div class="mdl-textfield mdl-js-textfield getmdl-select">
                                    <input type="text" value="" class="mdl-textfield__input" id="stimmgruppe">
                                    <input type="hidden" value="" name="sample1">
                                    <label for="stimmgruppe" class="mdl-textfield__label">Stimmgruppe</label>
                                    <ul for="sample1" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                                        <li class="mdl-menu__item" data-val="Tenor">Tenor</li>
                                        <li class="mdl-menu__item" data-val="Sopran">Sopran</li>
                                        <li class="mdl-menu__item" data-val="Bass">Bass</li>
                                    </ul>
                                </div>-->

                            </form>
                            <div class="mdl-progress mdl-js-progress sync_progress" data-id="{{ sr.song.sid }}"></div>
                        <ul class="record-list" data-id="{{ sr.song.sid }}"></ul>
                    </div>
            </div>
            <div class="mdl-cell mdl-cell--1-col">
                    <a class="record-indicator" href="#"><i class="material-icons">close</i></a>
            </div>
    </div>

{% endfor %}
</div>

<!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
<script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
<script src="/static/WebAudioRecorder.min.js"></script>
<script src="/static/app.js"></script>
{% endblock %}
