{% extends 'skeleton.jinja2' %}

{% block content %}
<h3>Musikstücke für Probe am {{ proben_datum }}</h3>
<div id="song-select" class="mdl-grid">
<div class="entry-container" data-id="12">
        <div class="mdl-cell mdl-cell--1-col" data-id="12">
            <i class="material-icons mdl-list__item-avatar show-song-arrow" data-id="12">arrow_right</i>
        </div>
        <div class="mdl-cell mdl-cell--10-col" data-id="12">
                  <span>21 Guns</span>
                    <!-- <span class="mdl-list__item-sub-title record-info" data-id="12">
                        Noch keine Aufnahme
                    </span>
                    -->
                    <div class="record-controls" style="display: none" data-id="12">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored recordButton" data-id="12">Aufnehmen</button>
                        <button disabled class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent syncedRecordButton" data-id="12">Playback wird geladen...</button>
                        <button disabled class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent playbackPlayButton" data-id="12">Playback wird geladen...</button>
                        <button disabled class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored material-icons pauseButton" data-id="12">pause</button>
                        <button disabled class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored material-icons stopButton" data-id="12">stop</button>
                        <audio preload="auto" class="sync_audio"  data-id="12">
                            <source type="audio/ogg">
                            Bei dir funktioniert dass leider nicht. Firefox herunterladen?
                        </audio>
                        <div class="mdl-progress mdl-js-progress sync_progress" data-id="12"></div>
                    <ul class="record-list" data-id="12"></ul>
                </div>
        </div>
        <div class="mdl-cell mdl-cell--1-col">
                <a class="record-indicator" href="#"><i class="material-icons">close</i></a>
        </div>
</div>
    <div class="entry-container" data-id="14">
        <div class="mdl-cell mdl-cell--1-col" data-id="14">
            <i class="material-icons mdl-list__item-avatar show-song-arrow" data-id="14">arrow_right</i>
        </div>
        <div class="mdl-cell mdl-cell--10-col" data-id="14">
                  <span>2x</span>
                    <!-- <span class="mdl-list__item-sub-title record-info" data-id="12">
                        Noch keine Aufnahme
                    </span>
                    -->
                    <div class="record-controls" style="display: none" data-id="14">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored recordButton" data-id="14">Aufnehmen</button>
                        <button disabled class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent syncedRecordButton" data-id="14">Playback wird geladen...</button>
                        <button disabled class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent playbackPlayButton" data-id="14">Playback wird geladen...</button>
                        <button disabled class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored material-icons pauseButton" data-id="14">pause</button>
                        <button disabled class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored material-icons stopButton" data-id="14">stop</button>
                        <audio preload="auto" class="sync_audio"  data-id="14">
                            <source type="audio/ogg">
                            Bei dir funktioniert dass leider nicht. Firefox herunterladen?
                        </audio>
                        <div class="mdl-progress mdl-js-progress sync_progress" data-id="14"></div>
                    <ul class="record-list" data-id="14"></ul>
                </div>
        </div>
        <div class="mdl-cell mdl-cell--1-col">
                <a class="record-indicator" href="#"><i class="material-icons">close</i></a>
        </div>
</div>
<div class="entry-container" data-id="13">
        <div class="mdl-cell mdl-cell--1-col" data-id="13">
            <i class="material-icons mdl-list__item-avatar">arrow_right</i>
        </div>
        <div class="mdl-cell mdl-cell--10-col" data-id="13">
                  <span>Happy together</span>
                    <!-- <span class="mdl-list__item-sub-title record-info" data-id="12">
                        Noch keine Aufnahme
                    </span>
                    -->
                    <div class="record-controls" style="display: none" data-id="13">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored recordButton" data-id="13">Aufnehmen</button>
                        <button disabled class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent syncedRecordButton" data-id="13">Playback wird geladen...</button>
                        <button disabled class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent playbackPlayButton" data-id="13">Playback wird geladen...</button>
                        <button disabled class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored material-icons pauseButton" data-id="13">pause</button>
                        <button disabled class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored material-icons stopButton" data-id="13">stop</button>
                        <audio preload="auto" class="sync_audio"  data-id="13">
                            <source type="audio/ogg">
                            Bei dir funktioniert dass leider nicht. Firefox herunterladen?
                        </audio>
                        <div class="mdl-progress mdl-js-progress sync_progress" data-id="13"></div>
                    <ul class="record-list" data-id="13"></ul>
                </div>
        </div>
        <div class="mdl-cell mdl-cell--1-col">
                <a class="record-indicator" href="#"><i class="material-icons">close</i></a>
        </div>
</div>
</div>
<!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
<script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
<script src="/static/WebAudioRecorder.min.js"></script>
    <script src="/static/app.js"></script>
{% endblock %}
